script(type="text/template", id="archives-templ").
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">#Developers</a></li>
      <li><a href="#tab2" data-toggle="tab">#Announcements</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="page-header">
          <h1>#Developers Archives</h1>
        </div>
        <div id="archive-content"></div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="page-header">
          <h1>#Announcements Archives</h1>
        </div>
        <div id="archive-content"></div>
      </div>
    </div>
  </div>

script(type="text/template", id="archiveInfo-templ").
  {{#years}}
    <div class="page-header"><h1>{{year}}</h1></div>
    {{#months}}
      <div>
        <ul class="thumbnails">
          {{#days}}
            {{#count}}
            <li class="span2">
              <div class="thumbnail">
                <a href="/archives/{{channel}}/{{year}}/{{month}}/{{day}}" class="modal-link">{{linkTitle}}</a>
                <h5>({{count}} messages)</h5>
              </div>
            </li>
            {{/count}}
          {{/days}}
        </ul>
      </div>
    {{/months}}
  {{/years}}

script(type="text/template", id="archiveModal-templ").
  <div id="archiveModal" class="modal hide fade">
    <div class="modal-header">
      <h3>{{title}}</h3>
    </div>
    <div class="modal-body">
      {{#records}}
      <div class="row" style="margin-bottom: 7px;">
        <div class="span2">[{{when}}]&nbsp;&nbsp;&lt;{{message.nick}}&gt;</div>
        <div class="span2">{{message.text}}</div>
      </div>
      {{/records}}
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" >Close</a>
    </div>
  </div>