script(type="text/template", id="graphs-templ").
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">#Developers</a></li>
      <li><a href="#tab2" data-toggle="tab">#Announcements</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="hero-unit">
          <h1>#Developers Graphs</h1>
          <p>Graphs for the #Developers Channel will go here.</p>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="hero-unit">
          <h1>#Announcements Graphs</h1>
          <p>Graphs for the #Announcements Channel will go here.</p>
        </div>
      </div>
    </div>
  </div>