!!!
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    link(href="/img/favicon.ico", rel="icon", type="image/x-icon")
    != css('app')
    != css('style')
  body
    .navbar(class="navbar-fixed-top")
      .navbar-inner
        .container
          a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
          a.brand(href="/")= title
          .nav-collapse
            ul.nav
              li: a(href="/archives") Archives
              li: a(href="/graphs") Graphs
    #content(class='container')
    #loader: center: img(src="/img/spinner.gif")
    != js("jquery.min.1.7.1")
    != js("bootstrap")
    != js("jquery.mustache")
    != js("app")
    != body